@use './variables.scss' as vars;
//nutton mixin just for styles like hover, color, end animation
//the size ist defined whit the compnent button
@mixin buttons-home {
  display: inline-block;
  background-color: vars.$color-bright-teal;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: vars.$border-radius-lg;
  transition:
    background-color vars.$transition,
    opacity vars.$transition;
  border: none;
  text-decoration: none; // Para enlaces
  &:hover {
    opacity: 0.8; // Reduce ligeramente la opacidad al pasar el mouse
  }
}
////////////////////////////
// Media queries breakpoints
@mixin breakpoint-sm {
  @media (min-width: vars.$breakpoint-sm) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (min-width: vars.$breakpoint-md) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media (min-width: vars.$breakpoint-lg) {
    @content;
  }
}

@mixin breakpoint-xl {
  @media (min-width: vars.$breakpoint-xl) {
    @content;
  }
}

@mixin breakpoint-2xl {
  @media (min-width: vars.$breakpoint-2xl) {
    @content;
  }
}
